/* weet niet waar dit moet*/
#achtergrond {
  background-color: black;
  margin: 0px;
}


/* De root geeft ons de mogelijkheid om overal een variabele te plaatsen met de juiste waarde */
/* Hierdoor kunnen wij gemakkelijk de juiste kleuren en maten vinden */
/* Deze 2 roots zijn appart voor gemak, het veranderd de functie van de root niet */

:root

/* color */
  {
  --color-border-container-list: #d719d7;
  --color-border-container-products: #fb7185;
  --color-border-items: #20242f;
  --color-test-background: #fb7185;
  --color-border-header-test: #78fad1;
  --color-background-header-test: #0abf30;
  --color-text-navbar: #ffffff;
  --light: #ffffff;
  --error: #e24d4c;
  --warning: #e9bd0c;
  --info: #3498db;
  --random: #eb43ff;
  --color-background-header: #0a101d;
  --color-border-header: #504e4e;
}

:root

/* lengths */
  {
  --aspect-ratio-pictures-min: 80px;
  --aspect-ratio-pictures-max: 120px;
  --aspect-ratio-16_9: 56.25%;
  --aspect-ratio-1_1: 100%;
  --aspect-ratio-4_3: 75%;
}


/***** Dingen voor de kopjes *****/
#kopje {
  background-color: black;
  font-size: xx-large;
  font-weight: bold;
  font-family: "priori-sans", sans-serif;
  color: white;
  margin: 0%;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
}

#kopje2 {
  background-color: var(--color-test-background);
  font-size: xx-large;
  font-family: "priori-sans", sans-serif;
  color: white;
  margin: 0%;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
}



/***** Dingen voor de kopjes *****/

/***** Dingen voor de Navbars *****/
#navbar1 {
  font-family: "t-26 carbon", sans-serif;
  color: var(--color-text-navbar);
  text-decoration: none;
  padding-left: 24px;
  z-index: 51;
}

#navbar2 {
  font-family: "t-26 carbon", sans-serif;
  color: var(--color-text-navbar);
  text-decoration: none;
  padding-left: 20px;
  z-index: 51;
}

.checkout {
  text-decoration: none;
  float: right;
  height: 38px;
  width: 42px;
  margin: 2em;
  color: white;
}


#logo {
  float: left;
  max-width: 275px;
  height: auto;
  padding-right: 8px;
  z-index: 51;
}



/***** Dingen voor de Navbars *****/

/***** Dingen voor de knopjes *****/
#knop {
  font-size: xx-large;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: (-50%, -50%);
}

#knopje {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: transparent;
  border: 1px solid white;
  border-radius: 50px;
  position: absolute;
  z-index: 1;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: xx-large;
  font-family: "priori-sans", sans-serif;
  font-weight: 700;
  color: white;
  text-decoration: none;
}

/***** Dingen voor de knopjes *****/

/***** Dingen voor de video *****/
#background-video {
  width: 100%;
  height: 10%;
  z-index: 1;
}

/***** Dingen voor de videos *****/

/***** Dingen voor de header *****/

.poster {
  background-color: black;
  height: 500px;
  z-index: 1;
}

.page-header {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--black);
  font-size: xx-large;
  font-family: "priori-sans", sans-serif;
  color: white;
  margin: 0%;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
}

/* zorgt voor de vorm van de header */



.header {
  position: fixed;
  /* hiedoor blijft de header op dezelfde plek */
  left: 0;
  right: 0;
  top: 0;
  z-index: 50;
  transition: all 0.3s ease;
  /*zorgt ervoor dat er een vloeiende smooth beweging is naar de nieuwe kleuren */
  background: rgb(0, 0, 0, 0.0);
  border-bottom: 2px solid rgb(0, 0, 0, 0.0);
}

/* zorgt voor de locatie van de header en voor een smooth transition wanneer je scrolled */


.header.scrolled {
  background: var(--color-background-header);
  border-bottom: 2px solid var(--color-border-header);
}

/* wanneer je scrolled worden de waardes van de background en border-bottom aangepast zodat het smooth is */
/* Scrolled is hierbij de nieuwe class die hier ook gemaakt wordt. Het kan ook appart staan maar dit is handiger */


/***** Dingen voor de header *****/

/***** Dingen voor de Pc plaatjes *****/


#plaatjes {
  width: 30px;
  height: auto;
  margin: 0%;
  /*float: left;*/
  padding-left: 0%;
}

#Pc-header {
  height: 632;
  width: 2048;
  background-color: var(--color-test-background);

}

.container-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;

  /* border: 2px solid var(--color-border-container-list); */
}

.container-products_top {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  
  min-width: 24vw;
  min-height: 24vw;
  height: 100%;
  width: 100%;
  border: 10px solid var(--color-border-container-products);
  padding-top: 1ch;
}

.container-products_mid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  
  min-width: 24vw;
  min-height: 24vw;
  height: 100%;
  width: 100%;
  border: 10px solid var(--color-border-container-products);
  padding-top: 1ch;
}

.container-products_bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  column-gap: 200px;
  row-gap: 50px;
  min-width: 24vw;
  min-height: 24vw;
  height: 100%;
  width: 100%;
  border: 10px solid var(--color-border-container-products);
  padding-top: 1ch;
}

.item {
  width: calc(15% + 50px);
  height: 100%;

  background-color: var(--color-test-background);
  padding: 1em;
  font-weight: 700;
  color: var(--black);
  border: 3px solid var(--color-border-items);
}



.Pc-pics {
  position: relative;
  height: 100%;
  width: 100%;

}


/***** Dingen voor de Pc plaatjes *****/


/***** Dingen voor de about us ******/
#aboutusbody {
  background-color: black;
}
#imagepc {
background-image: url(pc.jpg);
}
#grootkopje {
  font-family: "priori-sans", sans-serif;
  font-size: 30px;
  font-weight: 1000;
  margin-top: 100px;
  color: white;
  margin-bottom: 0px;
  text-align: center;
}

/***** de opmaak voor de kopjes en de subteksten *****/
.kopje {
  font-family: "priori-sans", sans-serif;
  font-size: 28px;
  font-weight: 700;
  margin-top: 20px;
  color: white;
}

.subtext {
  font-family: "priori-sans", sans-serif;
  font-size: 20px;
  ;
  font-weight: 200;
  color: white;
}

#kolom1 {
  display: flex;
  justify-content: space-around;
  gap: 1.0em;
  flex-direction: row;
  flex-wrap: wrap;
}

#kolom {
  float: left;
  width: 20%;
  border: white;
  border-width: 1px;
  margin: 3px;
  text-align: center;
  background-image: linear-gradient(#504e4e, black);
}